<h1 class="text-center">My People</h1>

<div class="section">
  <div class="grid gap-4 grid-cols-2 md:grid-cols-3 grid-rows-2 md:grid-rows-3">
    <% @people.each do |per|  %>
      <div class="w-full max-w-sm m-3 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center py-10">
            <img class="mb-3 w-24 h-24 rounded-full shadow-lg" src="https://source.unsplash.com/random/100x100" alt="Bonnie image"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900"><%= per.firstname %></h5>
            <span class="text-sm text-gray-500"><%= per.peopletype.name %></span>
            <div class="flex mt-4 space-x-3 md:mt-6">
                <a href="#" class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Modifier</a>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
