<div class="grid grid-cols-1 2xl:grid-cols-2 xl:gap-4 my-4">
  <div class="bg-white shadow rounded-lg mb-4 p-4 sm:p-6 h-full">
      <div class="flex items-center justify-between mb-4">
        <h3 class="text-xl font-bold leading-none text-gray-900">Latest Customers</h3>
        <a href="#" class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg inline-flex items-center p-2">
        View all
        </a>
      </div>
      <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200">
            <% @timeentries.first(5).each do |time| %>
              <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <%# <div class="flex-shrink-0">
                      <img class="h-8 w-8 rounded-full" src="https://demo.themesberg.com/windster/images/users/neil-sims.png" alt="Neil image">
                    </div> %>
                    <div class="flex-1 min-w-0">
                      <p class="text-sm font-medium text-gray-900 truncate"><%= time.tag %></p>
                      <p class="text-sm text-gray-500 truncate">
                        <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="17727a767e7b57607e7973646372653974787a"><%= time.categorytime.name %></a>
                      </p>
                    </div>
                    <div class="inline-flex items-center text-base font-semibold text-gray-900"><%= ((time.end_date - time.start_date) / 3600).round %></div>
                </div>
              </li>
            <% end %>
        </ul>
      </div>
  </div>
  <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
      <h3 class="text-xl leading-none font-bold text-gray-900 mb-10">Time Global</h3>
      <div class="block w-full overflow-x-auto">
        <%= render "globalchart" %>
      </div>
  </div>
</div>
